# ELEVATE packages from private GitHub registry
@inform-elevate:registry=https://npm.pkg.github.com
//npm.pkg.github.com/:_authToken=${ELEVATE_DOCSITE}

# Standard npm registry for other packages
registry=https://registry.npmjs.org/