# ELEVATE packages from private GitHub registry
@inform-elevate:registry=https://npm.pkg.github.com
//npm.pkg.github.com/:_authToken=${ELEVATE_DOCSITE}

# Ensure auth is always sent for scoped packages
always-auth=true

# Standard npm registry for other packages
registry=https://registry.npmjs.org/